@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold pt-3 pb-3;
  }
  h2 {
    @apply text-2xl font-bold pt-2 pb-2;
  }
  h3 {
    @apply text-xl font-medium pt-1 pb-1;
  }

  center {
    @apply pt-1 pb-1;
  }
}

@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
  }

  .main-container {
    @apply bordered-container mt-20 lg:max-w-screen-lg sm:max-w-[90%];
  }

  .bordered-container {
    @apply mx-auto max-w-screen-lg rounded-xl p-6 flex-auto bg-gray-50 border border-solid border-gray-200;
  }

  .menu-horizontal li {
    @apply mx-1 items-center hover:bg-primary-dark hover:text-secondary;
  }
  .menu-horizontal .navbar-sub.login,
  .menu-horizontal .navbar-sub.admin {
    left: unset;
    right: -12px;
  }
  .menu-horizontal .navbar-sub.admin {
    right: -84px;
  }
  .navbar {
    @apply bg-primary;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .navbar-sub {
    @apply navbar p-0;
    @apply flex flex-col origin-center absolute mt-12 w-48 rounded-md shadow-lg py-1 ring-1 ring-black ring-opacity-5 focus:outline-none;
    left: 0;
  }
  .menu-horizontal li:last-of-type .navbar-sub {
    left: unset;
    right: -12px;
  }
  .nav-link {
    @apply h-10 text-secondary !important;
    user-select: none;
    cursor: pointer;
    padding: 0;
  }
  .navbar-drawer {
    @apply bg-primary;
  }
  .navbar-drawer li {
    @apply my-1;
  }
  .navbar-drawer .nav-sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-drawer .nav-sub-wrapper:hover {
    background-color: unset;
  }
  .nav-sub-link {
    @apply nav-link block py-2 text-sm w-full text-left hover:bg-primary-dark text-secondary;
    padding-left: 2rem !important;
  }
  .navbar-drawer .nav-sub-link {
    padding-left: 3rem !important;
  }
  .nav-link.selected, .nav-sub-wrapper.selected {
    @apply bg-primary-dark !important;
  }
  .nav-sub-name {
    @apply inline-flex items-center font-medium text-sm rounded-md text-secondary;
  }
  .nav-hr {
    @apply bg-secondary text-secondary;
    width: 100%;
    height: 1px;
    border-width: 0;
  }
  .nav-item {
    @apply px-3 rounded-md text-sm font-medium flex items-center;
  }

  .simple-input {
    @apply pl-1 border-b-2 bg-transparent focus:outline-none min-w-[10rem];
  }
  .simple-input:disabled {
    @apply opacity-50 border-none;
  }
  .simple-input:invalid {
    @apply bg-red-200;
  }

  button {
    @apply rounded-md text-center disabled:opacity-50 disabled:cursor-not-allowed p-3 pt-1 pb-1 h-8;
  }

  .white-transparent {
    background-color: rgba(255,255,255,0.2);
  }

  .form-row {
    @apply grid mb-4 md:grid-cols-[1fr_minmax(_min-content,_2fr)_2fr] xs:grid-cols-3 xs:gap-1 gap-2 grid-cols-1;
  }

  .form-label {
    @apply flex xs:justify-end xs:font-medium justify-start font-semibold items-center pr-3;
  }
}
